body {
    background-color:#ffeaee;
    margin: 0;
    font-size: 28px;
    text-align: center;
    padding: 30px;
    color:#773344;
    text-shadow: -1px -1px 2px rgba(183, 182, 226, 1);
  }
  
  
  .header {
    background-color: #773344;
    padding: 30px;
  }
  
  
  .footer{
      text-align:center;
      background-color:#42213d;
      padding:30px;
      color: white;
  }
  
  .center{
    padding-left: 40%;
  }
  
  .gallery {
    background-color: #afe5fa;
    display: flex;
    box-sizing: border-box;
    width: max-content;
    height: 240px;
    padding: 0px 20px;
    box-shadow: -7px -5px 7px 13px rgba(127, 124, 175, 0.12);
    border-radius: 5px;
  }  
  
  * {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }
  
  
  #container {
    position: relative;
    width: 100%;   
  }
  
  #container:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }
  
  #menu {
    position: relative;
    float: left;
    width: 100%;
    padding: 0 20px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
    background-color: #7f7caf; 
  
  }
  
  #menu, #menu ul {
    list-style: none;
    
  }
  
  #menu > li {
    float: left;
    position: relative;
    border-right: 1px solid rgba(0,0,0,.1);
    box-shadow: 1px 0 0 rgba(255,255,255,.25);
    perspective: 1000px;
    padding: 11px 15px 11px 15px;
    
  }
  
  #menu > li:first-child {
    border-left: 1px solid rgba(255,255,255,.25);
    box-shadow: -1px 0 0 rgba(0,0,0,.1), 1px 0 0 rgba(255,255,255,.25);
  }
  
  #menu a {
    display: block;
    position: relative;
    z-index: 10;
  
    text-decoration: none;
    color: #acf39d;
    line-height: 1.3;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -.05em;
    background: transparent;    
    text-shadow: 0 1px 1px rgba(255,255,255,.9);
    transition: all .25s ease-in-out;
  }
  
  #menu > li:hover > a {
    background-color: #c6c7fb;
    color: white;
    text-shadow: none;
  }
  
  
  .item {
    box-sizing: border-box;
    height: 100%;
    padding: 33px 100px;
  }
  
  .item img{
    height: 500px;
    width: 350px;
  }
  
  .link {
    display: block;
    position: relative;
    z-index: 10;
  
    text-decoration: none;
    color: white;
    line-height: 1.3;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -.05em;
    background: transparent;    
    text-shadow: 1px 1px 2px rgba(25, 136, 247, 0.8);
    transition: all .25s ease-in-out;
  }
  
  .btn{
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 1px 0 0 rgba(255,255,255,.25);
    background-color: #6dbffa;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #c6c7fb;
    width:max-content;
    padding-right: 5px;
    padding-left: 5px;
  }

  .error{
    color:red;
  }
  
  
  
  