<body>

    <div id="container">
        <ul id="menu">
            <li><a routerLink=''><img height="35px" width="35px" src="/assets/knjigeImg/default.png" alt="logo"> </a>
            </li>
            <li><a routerLink=''>Home</a>
            </li>
            <li><a routerLink='/login'>Login</a>
            </li>
            <li><a routerLink='/register'>Registracija</a></li>
            <li><a routerLink='/search'>Pretraga: </a>
            </li>
        </ul>
    </div>
    <div class="center">
        <br />
        <div class="gallery">
            <table>
                <tr>
                    <td>Username:</td>
                    <td>
                        <input type='text' name='username' [(ngModel)]='username'>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input type='password' name='password' [(ngModel)]='password'>
                    </td>
                </tr>
                <tr>
                    <td colspan='2'>
                        <button class="btn" (click)='login()'>Login</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="link" routerLink='change'>Promena lozinke </a>
                    </td>
                </tr>

            </table>
        </div>
        <span class='error'>{{message}}</span>
        <br />

    </div>
    

    <div class="footer">
        <div class="footer-copyright">
            Mina Janković Odsek za softversko inženjerstvo Elektrotehničkog fakulteta Univerziteta u
            Beogradu
        </div>
    </div>
    


</body>